
.input {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    padding: 15px 5px 10px 5px;
    grid-template-columns: 1fr 40px;
  }
.input .send {
    align-self: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    height: 38px;
    width: 38px;
    background-color: var(--textColor);
}