.viewUser{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.containerImg{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.containerImg img{
    width: 200px;
}
.personalInformation{
    width: 600px;
    text-align: center;
    position: relative;
}
.backgroundForText{
    margin: 0 auto;
    width: 500px;
    background-color: var(--backgroundtext);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--outlinecolor);
    z-index: 100;
    position: relative;
    border-radius: 15px;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(239, 254, 255, 0.7));
    filter: drop-shadow(0px 0px 1.5px rgba(210, 236, 238, 0.871));
}

.backgroundForText::after, .backgroundForText::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    margin: -5px;
    z-index: -10;
    box-shadow: inset 0 0 0 3px;
    animation: ledsover 8s linear infinite;
}

.backgroundForText::before {
    color: #FD367E;
    animation-delay: -4s;
}
.Name{
    position: relative;
    font-size: 2.8rem;
    z-index: 1;
    color: var(--textcolor)
}
.whoiam{
    margin: 60px 0 30px 0;
    font-size: 1.5rem;
}
.whoiam p{
    margin: 10px;
}
.descriptionAboutMe{
    width: 600px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.descriptionAboutMe .wordProfile, .descriptionAboutMe .wordWork, .descriptionAboutMe .Hobbies, .descriptionAboutMe .Skills{
    margin: 20px 0;
    font-size: 2rem;
    border-bottom: 3px solid var(--outlinecolor);
}
.wordProfile{
    width: 65px;
}
.wordWork{
    width: 160px;
}
.Hobbies{
    width: 80px;
}
.Skills{
    width: 50px;
}
.descriptionAboutMe .textForDescription{
    padding-left: 30px;
}
.workDescription li{
    padding-top: 1rem;
    font-size: bold;
}
.linkToWorks{
    margin-bottom: 50px;
    background-color: #FD367E;
    border: none;
    border-radius: 5px;
    transition: all 0.3 ease-in;
    width: 100px;
    height: 40px;
    outline: 1px solid #03C4A100;
    transition: all 0.1s ease-in;
}
.linkToWorks a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 2rem;
    color: var(--textcolor);
    text-decoration: none;
}
.linkToWorks:focus{
    outline: 2px solid #03C4A1;
}

@media only screen and (max-width: 600px) {
    .personalInformation{
        width: 90%;
    }
    .descriptionAboutMe{
        width: 90%;
    }
    .backgroundForText{
        width: 90%;
    }
    .Name{
        font-size: 1.875rem;
    }
}
@keyframes ledsoverMobile {

}

@keyframes ledsover {
    0%, 100%{
        clip: rect(0px, 510px, 3px, 407px);
    }
    8.33% {
        clip: rect(0px, 400px, 3px, 300px);
    }
    16.66% {
        clip: rect(0px, 300px, 3px, 200px);
    }
    25% {
        clip: rect(0px, 200px, 3px, 100px);
    }
    33.33% {
        clip: rect(0px, 100px, 3px, 0px);
    }
    41.66% {
        clip: rect(0px, 3px, 60px, 0px);
    }
    50% {
        clip: rect(57px, 100px, 60px, 0px);
    }
    58.33% {
        clip: rect(57px, 200px, 60px, 100px);
    }
    66.66% {
        clip: rect(57px, 300px, 60px, 200px);
    }
    75%{
        clip: rect(57px, 400px, 60px, 300px);
    }
    83.33%{
        clip: rect(57px, 510px, 60px, 400px);
    }
    91.66%{
        clip: rect(0px, 510px, 60px, 507px);
    }
}