.viewWorks{
    width: 100%;
    background: #151515;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerWorks {
  width: 100%;
  height: 89vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerDetails{
    position: relative;
    bottom: -50px;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.containerDetails .imageShow{
    height: 120px;
    max-width: 500px;
    overflow: hidden;
}
.textDetail{
    width: 40%;
    text-align: center;
    margin-right: 30px;
}
.imageShow img{
    height: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 10px;
    padding: 0 5px;
}
@supports(object-fit: cover){
    .imageShow img{
      object-fit: cover;
      object-position: center center;
    }
  }
.nameWork{
    font-size: 2.8rem;
    color: var(--textcolor);
    margin-bottom: 5px;
}
.descriptionWork{
    font-size: 1.3rem;
    color: var(--textcolor);
    margin-bottom: 5px;
}
.imgForSlides {
    border-radius: 10px;
    top: calc(50% - 200px);
    position: absolute;
    max-height: 400px;
    max-width: 80vw;
}
.buttonDetails{
    position: absolute;
    bottom: -30px;
    color: var(--textcolor);
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 400;
}
.buttonsImg{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .imgForSlides {
        top: 20%;
        position: absolute;
        max-height: 550px;
        max-width: 90vw;
    }
    .next,
    .prev {
        top: 10vh;
    }
    .next {
        right: 25%;
    }
    .prev {
        left: 25%;
    }
    .buttonDetails{
        bottom: 0px;
    }
    .containerDetails{
        width: 95%;
        top: -180px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textDetail{
        width: 100%;
        margin-right: 0;
    }
    .containerDetails .imageShow{
        height: 100px;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .imageShow img{
        max-width: 150px;
    }
}