.AutoSizeTextArea{
    background-color: transparent;
    padding: 1rem;
    border: white 0.2rem solid;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1.5rem;
    outline-offset: 0.2rem;
}
.AutoSizeTextArea{
    height: 100px;
}
.AutoSizeTextArea:focus{
    outline: 2px solid var(--outlineColor);
}