
body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root{
  --maincolor: #1A1A1B;
  --textcolor: #EEEEEE;
  --outlinecolor: #03C4A1;
  --backgroundtext: #2c2c2c;
  --pinkColor: #fd367e;
}

html{
  background-color: var(--maincolor);
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: var(--maincolor);
}
::-webkit-scrollbar-thumb{
  background-color: var(--textcolor);
  border-radius: 4px;
}
:focus{
  outline: 0.2rem solid var(--outlinecolor);
  border-radius: 0.2rem;
}
.viewAll{
  width: 100%;
  max-width: 100vw;
  margin-top: 70px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notifications,
.notifications__item {
  padding: 0;
  margin: 0;
}

.notifications {
  position: fixed;
  z-index: 100;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  justify-content: flex-end;
}

.notifications__item {
  width: 300px;
  background: var(--maincolor);
  color: var(--textcolor);
  border: 0.2rem var(--textcolor) solid;
  flex: 0 0 100px;
  position: relative;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
}
.notifications__item h3{
  font-size: 1.45rem;
}
.notifications__item p{
  font-size: 1.2rem;
}
.notifications__item--close{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: var(--textcolor);
  border: none;
  border-radius: 0.5rem;
  font-size: larger;
  cursor: pointer;
  outline: none;
}
.notifications__item--close circle,
.notifications__item--close rect,
.notifications__item--close line {
  fill: transparent;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

